@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave&display=swap');
*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-between;
    min-height: 5rem;
    align-items: center;
}
nav ul{
    display: flex;
    width: 30rem;
    justify-content: space-between;
}
.navstyle{ 
    color: white;
    background: rgb(30,39,50);
background: radial-gradient(circle, rgba(30,39,50,1) 0%, rgba(42,49,82,1) 92%, rgba(32,36,46,1) 100%);
}
.navstyle a{
    color: white;
    font-family: "Sedgwick Ave", cursive;
    font-size: 1.5rem;
}
